/*color scheme: black, white, #7F909A, #ED6639, #385B9F*/
.navbar-custom{
	background-color: white;
	border-color: transparent;
}
.navbar-custom .navbar-brand{
	color:#7F909A;
}

header {
  text-align: center;
  background: black;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
header .img-centered{
	max-width: 50px;
	max-height: 50px;
	display: center;
	padding-bottom: 10px;
}
img{
	vertical-align: middle;
}