
.navbar-custom{
  background-color: #385B9F;
  border-color: transparent;
}
.navbar-custom .navbar-brand{
  color: white;
}
.navbar .nav > li > a:hover{
  color: #ED6639;
}

.navbar-custom .nav li a{
  color: white;
}

header {
  text-align: center;
  background: black;
  color: white;
}
header .container {
  padding-top: 250px;
  padding-bottom: 250px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
}
header .intro-text .description {
  font-size: 1.75em;
  font-weight: 300;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .img-centered{
  max-width: 70px;
  max-height: 70px;
  display: center;
  padding-bottom: 10px;
}
img{
  vertical-align: middle;
}
section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 40px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.about-heading {
  margin: 15px 0;
  text-transform: none;
}
#schedule, #varsity{
  background-color: #e6f3f7; 
}
.panels{
  overflow-y: auto;
  width: 600px;
  max-height: 400px;
  margin: 0 auto;
}
#schedule .panel .panel-heading{
  background-color: #385B9F;
  color: white;
}
.panel-heading{
  padding: 10px 15px;
  border bottom: 1px;
}
#footer{
  background: black;
}
#footer h4{
  font-size: 12px;
  padding:5px;
  color:white;
}
